body{
    padding: 0;
    margin: 0;
    bottom: 0;
}

header{
    width: 100%;
    height: 8   vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #274855;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    img{
        width: 2.5%;
        margin-left: 2rem;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2rem;

        ul{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 50px;
            li{
                a{
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    text-decoration: none;
                    font-size: 1.2rem;
                }

            }
        }
    }
    button{
        background-color: #274855;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        margin-right: 2rem;
    }
}