@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 0.5rem;
    background-color: #274855;
}

.logo {
    width: 15%;
}